<html>
  <head>
    <title>Vue.js Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>

    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
      <div v-for="(ninja, index) in ninjas">
        <p>{{ index }} - {{ ninja.name }}</p>
        <p>age: {{ ninja.age }}</p>
        <p>belt colour: {{ ninja.belt }}</p>
      </div>
    </div>
    
    <script src="app.js"></script>
  </body>
</html>
